@model IEnumerable<ShopQuanAoLite.Models.SanPham>
@{
    ViewBag.Title = "SPTheoLoai";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="features_items">
    <div class="category-tab">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#moinhat" data-toggle="tab">THEO THỂ LOẠI </a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="moinhat">
                <div class="row">
                    @foreach (var sanpham in Model)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img alt="@sanpham.TenSP" src="~/@sanpham.AnhBia" />
                                        <h2>@sanpham.GiaBan</h2>
                                        <p>@sanpham.TenSP</p>
                                    </div>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                       <li><a href="@Url.Action("Details", "ShopQuanAo", new {id=@sanpham.MaSP})"><i class="fa fa-plus-square"></i>CHI TIẾT</a></li>
                                        <li><a href="@Url.Action("ThemGiohang", "GioHang", new {@MaSP=sanpham.MaSP, @strURL=Request.Url.ToString()})"><i class="fa fa-shopping-cart"></i>Add to cart</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!---->              
            </div>
            <!---->
        </div>
</div>